<div class="photos">
<%= form_for @photopost do |f| %>
  <label>Select Photo
    <%= f.file_field :picture, style: 'display:none;' %>
  </label>
  &nbsp;
  <%= f.submit 'upload', class: "btn btn-default btn-sm" %>
<% end %>
</div>
<%= render 'photoposts' %>
